table {
  font-size: 16px;
}

form.form-horizontal{
  margin-bottom: 0px;
}


.controls.input-append.date{
  width: 100px;
  margin-left: 0px;

}
.form-horizontal.control-group{
  margin-bottom: 0px;
}

table.datos-cliente{
  margin-bottom: 36px;
}
.final{clear: both;}

.form_error{
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.table_container{min-height: 600px;}

.titulo_tabla{
margin-bottom: 5px;
border-bottom: 1px solid #829AC6;
}

#advert{
	display: none;
}

#amortizacion{display: none;}

#amortizar{ 
  margin:0 auto;
  margin-bottom: 0px;
}

#reg-credito .control-group{
  display: inline;
  float: left;
  left: 240px;
  width:287px;
  margin-top: 0px;
  margin-bottom: 5px;
}

#reg-credito div.controls{
  margin-left: 0px;
  margin-top: 10px;
}

#reg-credito p{
  margin-bottom: 0px;
}

#reg-credito div.controls input,#reg-credito div.controls select{
display: inline;
  width: 100px;
  margin-left: 0px;
  margin-top: 0px;
}
#reg-credito div.controls #guardar_persona{
float:right;
margin-right: 20px;
}
#reg-credito{
  margin-bottom:20px; 
}



